.contact {
  padding: 80px 20px;
  background-color: transparent;
  text-align: center;
}

.contact-form {
  max-width: 500px;
  margin: 40px auto 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-form input, .contact-form textarea {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-family: inherit;
}

.contact-form input:focus, .contact-form textarea:focus {
  outline: 2px solid #646cff;
  border-color: transparent;
}

@media (max-width: 480px) {
  .contact-form {
    width: 90%; /* Ocupa más espacio en pantallas muy pequeñas */
  }
  
  .contact h2 {
    font-size: 1.5rem;
  }
}

.success-msg {
  background-color: #d4edda;
  color: #155724;
  padding: 20px;
  border-radius: 8px;
  max-width: 500px;
  margin: 40px auto;
  border: 1px solid #c3e6cb;
}

.contact-form input, 
.contact-form textarea {
  background-color: var(--card-bg);
  color: var(--text-primary);
  border: 1px solid var(--accent);
}

/* Para que el texto que escribes se vea bien */
.contact-form input::placeholder, 
.contact-form textarea::placeholder {
  color: var(--text-primary);
  opacity: 0.6;
}