.hero {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: #fff;
}

.highlight {
  color: #646cff; /* Un color tipo React/Vite */
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.btn-primary {
  margin-top: 2rem;
  padding: 12px 24px;
  background-color: #646cff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  transition: background 0.3s ease;
}

.btn-primary:hover {
  background-color: #535bf2;
}

.gradient-text {
  /* Definimos los colores del degradado */
  background: linear-gradient(
    45deg,
    #646cff,
    #ff64f2,
    #64f2ff,
    #646cff
  );
  background-size: 300% 300%; /* Hacemos el fondo más grande para poder moverlo */
  
  /* Hacemos que el fondo brille solo a través del texto */
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent; /* El texto se vuelve transparente para ver el fondo */
  
  /* Añadimos la animación */
  animation: moveGradient 6s ease infinite;
  font-weight: 800;
}

/* Definimos el movimiento del degradado */
@keyframes moveGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@media (max-width: 768px) {
  .hero h1 {
    font-size: 2rem; /* Reducimos el tamaño del título */
  }
  
  .hero {
    height: 60vh; /* Un poco menos de altura en móviles */
    padding: 0 20px;
  }
}